body {
    margin: 0;
    background: #e5e9f2;
}

.el-menu-item>a {
    text-decoration: none;
}

.input-suffix {
    display: block;
}

.input-label {
    display: inline-block;
    width: 130px;
    font-weight: bolder;
}